
  <% include head.ejs %>
    <p class='ptext'>I'm interested in lighthearted, responsive, minimal design. My stength is organized thinking, and I'm business in the front-end, party in the back-end.</p>
    <p class='ptext'>I have skills in HTML, CSS, and JavaScript. I'm also familiar with React.js, Node.js and Express!</p>
    <p class='ptext'>I am an aspiring web developer living in Brooklyn, New York. I like science fiction, gardening, horror movies, and the Dallas Cowboys. Originally from Prescott, Arizona.</p>
    <a href='/projects'>projects</a></br>
    <a href='/contact'>contact</a>
  </body>
</html>
