
  <% include head.ejs %>
    <a href='http://aliendoctor.bitballoon.com/'>alien doctor</a></br>
    <a href='https://ns-oomnvlkqtp.now.sh/'>heree app</a></br>
    <a href='/'>home</a></br>
  </body>
</html>
